{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row" id="quizApp">
        <div class="card-body text-center">
            <div class="mb-3">
                <a href="{% url 'categoria_create' %}" class="btn btn-primary" style="text-decoration: none;"><i class="fas fa-plus"></i> Crear una
                    Categoria </a>
                <i class="fa fa-trash-o"></i>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Categorias</h5>
                    <h6 class="card-subtitle text-muted">Listado de Categorias</h6>
                </div>
                <div class="card-body">
                    {% if not categoria_list %}
                        <h6>Aún no existen categorias <a href="{% url 'categoria_create' %}">Crea una dando clic aquí</a></h6>
                    {% else %}
                        <table id="datatables-basic" class="table table-striped" style="width:100%">
                        <caption>Listado de categorias</caption>
                            <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Siglas</th>
                                <th scope="col">Calcular</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categoria in categoria_list %}
                                {% if categoria.estado == 1 %}
                                <tr>
                                    <td>{{ categoria.nombre }}</td>
                                    <td>{{ categoria.siglas }}</td>
                                    <td>
                                        {% if categoria.calcular %}
                                            <input type="checkbox" checked disabled>
                                        {% else %}
                                            <input type="checkbox" disabled>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'categoria_update' categoria.id %}" class="btn btn-primary"
                                           style="text-decoration: none;"><em class="fas fa-pencil-alt"></em>
                                        </a>
                                        <a href="{% url 'categoria_delete' categoria.id %}" class="btn btn-danger"
                                           style="text-decoration: none;"><em class="fas fa-trash"></em></a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("input[name=\"datesingle\"]").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });
        });
    </script>
    {% block scripts %}
    {% endblock %}
{% endblock %}