{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="container-fluid">
    <h5>Selecciona un estudio:</h5>
    <form method="post" id="e_form">{% csrf_token %}
        <h3 class="mb-2 col-12">
            <select id="select_e" name="estudio_select" class="form-control mb-3">
                <option selected="" value="">Para ver los gráficos selecciona una opción</option>
                {% if estudios %}
                    {% for estudio in estudios %}
                        <option value="{{ estudio.id }}">{{ estudio }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">Aún no se han creado estudios</option>
                {% endif %}
            </select>
        </h3>
    </form>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="media">
                        <div class="d-inline-block mt-2 mr-3">
                            <i class="fas fa-vials fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mb-2">{{ este_estudio }}</h3>
                            <div class="mb-0">Estudio</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-xl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="media">
                        <div class="d-inline-block mt-2 mr-3">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mb-2">{{ asignaciones }}</h3>
                            <div class="mb-0">Postulantes asignados al estudio</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-xl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="media">
                        <div class="d-inline-block mt-2 mr-3">
                            <i class="fas fa-tasks fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mb-2">{{ asig_completas }}</h3>
                            <div class="mb-0">Postulantes que han completado la encuesta</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 mx-0 px-0">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Gráficos</h5>
                    </div>
                    <h6 class="card-title px-3" style="align-self: center;">Puntuación por Campo Profesional</h6>
                    <canvas id="myChart" class="col-12 col-md-6" style="align-self: center;"></canvas>
                    <h6 class="card-title px-3" style="align-self: center;">Cantidad de postulantes por carrera en el estudio </h6>
                    <canvas id="myPieChart" class="col-12 col-md-6" style="align-self: center;"></canvas>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#select_e').on('change', function () {
            let seleccion = $("#select_e option:selected").val();
            if (seleccion) {
                $('#e_form').submit()
            }
        })
    </script>
    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        let lista = {{ consulta|safe }};
        let categorias = []
        let conteo = []
        let colors = []
        let completos = {{ asig_completas|safe }};
        let prueba1 = []
        const getCategorias = () => {
            lista.forEach(e => {
                categorias.push(e.categoria);
                {#console.log(e.totalp +' / '+ completos + ' * ' + 100);#}
                n_percent = (parseFloat(e.totalp)/categorias.length)/100
                conteo.push(n_percent)
                colors.push(getRandomColor())
                prueba1.push(e.totalp)
            })

        }
        getCategorias();
        {#console.log("barras")#}
        {#console.log(categorias);#}
        {#console.log(conteo);#}
        {#console.log(colors);#}
        {#console.log("this are e.total ")#}
        {#console.log(prueba1);#}

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: categorias,
                datasets: [{
                    label: 'Puntuación por Campo Profesional',
                    data: conteo,
                    backgroundColor: colors,
                    borderColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        let carreras = []
        let conteo_carreras = []
        let list_carreras = {{ carreras_participantes|safe }};
        let colors2 = []
        const getCarreras = () => {
            list_carreras.forEach(e => {
                carreras.push(e.carrera)
                conteo_carreras.push(e.postulantes)
                colors2.push(getRandomColor())
            })
        }
        getCarreras();
        {#console.log('pastel')#}
        {#console.log(carreras)#}
        {#console.log(conteo_carreras)#}
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: carreras,
                datasets: [{
                    label: 'Postulantes por Carrera',
                    data: conteo_carreras,
                    backgroundColor: colors2,
                    borderColor: colors2,
                    borderWidth: 1
                }]
            },
            options: {}
        });
    </script>
{% endblock %}
