{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle text-muted">Edita la encuesta</h6>
                </div>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <a href="/psicologo/encuesta" class="btn btn-outline-danger"> Cancelar</a>
                        <input type="submit" value="Actualizar" class="btn btn-primary">
                    </form>
                </div>
                {% if 'ok' in request.GET %}
                    <script>
                        window.onload = () => {
                            let message = 'Encuesta exitosamente actualizada!';
                            let title = "Operación Exitosa";
                            let type = 'success';
                            toastr[type](message, title, {
                                positionClass: 'toast-top-center',
                                progressBar: true,
                                timeOut: '3500'
                            });
                            setTimeout(function () {
                                localStorage.setItem('update', 'true')
                                history.go(-2);
                            }, 3000);
                        }
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("input[name=\"f_vigencia\"]").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: "YYYY-MM-DD"
                }
            });
        });
    </script>
{% endblock %}