{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row" id="questionApp">
        <div class="card-body text-center">
            <div class="mb-3">
                <a href="{% url 'pregunta_create' encuesta.id %}" class="btn btn-primary"
                   style="text-decoration: none;"> Crear una
                    Pregunta</a>
                <i class="fa fa-trash-o"></i>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <h3 class="text-center px-4">{{ encuesta.nombre }}</h3>
                <div class="card-header">
                    <h5 class="card-title">Listado de preguntas </h5>
                    <h6 class="card-subtitle text-muted">Selecciona una categoria...</h6>
                </div>
                <div class="card-body">
                    {% if not preguntas %}
                        <h6>Aún no existen preguntas <a href="{% url 'pregunta_create' encuesta.id %}">Crea una
                            dando clic aquí</a></h6>
                    {% endif %}
                    {% for categoria in categorias %}
                            <ul class="sidebar-item">
                                <a href="#{{ categoria|cut:' ' }}" data-toggle="collapse" class="sidebar-link collapsed"
                                   style="background-color: darkgray; color: white">
                                    <em class="align-middle" data-feather="users"></em> <span
                                        class="align-middle">{{ categoria }}</span>
                                    <span class="sidebar-badge"><i class="fas fa-chevron-down"></i></span>
                                </a>
                                <ul id="{{ categoria|cut:' ' }}" class="sidebar-dropdown list-unstyled collapsed"
                                    data-parent="#sidebar">
                                    <table class="table table-striped">
                                    <caption>listado de preguntas</caption>
                                        {% for pregunta in preguntas %}
                                            {% if pregunta.categoria == categoria %}
                                                <tr>
                                                    <td>{{ pregunta.numero }}. {{ pregunta.enunciado }}</td>
                                                    <td style="float: right">
                                                        <a href="{% url 'pregunta_detalle' pregunta.id %}"
                                                           class="btn btn-primary"
                                                           style="text-decoration: none;"><em
                                                                class="fas fa-eye"></em>
                                                        </a>
                                                        <a href="{% url 'pregunta_update' pregunta.id %}"
                                                           class="btn btn-primary"
                                                           style="text-decoration: none;"><em
                                                                class="fas fa-pencil-alt"></em>
                                                        </a>
                                                        <a href="{% url 'pregunta_delete' pregunta.id %}"
                                                           class="btn btn-danger"
                                                           style="text-decoration: none;"><em
                                                                class="fas fa-trash"></em>  </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>

                                </ul>
                            </ul>
                    {% endfor %}
                </div>
            <script>
                window.onload = () => {
                    let update = localStorage.getItem('update');
                    if (update == 'true'){
                        localStorage.setItem('update','false')
                        history.go(0)
                    }
                }
            </script>
            </div>
        </div>
    </div>
{% endblock %}
