{% extends 'core/psicologo/home.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="col-12">
        <form id="form-container" method="post">{% csrf_token %}
            <div id="smartwizard-default-primary" class="wizard wizard-primary mb-4">
                <ul>
                    <li><a href="#default-primary-step-1">First Step<br><small>Step description</small></a></li>
                    <li><a href="#default-primary-step-2">Second Step<br><small>Step description</small></a></li>
                </ul>

                <div>
                    <div id="default-primary-step-1" class="">
                        <div class="form-group">
                            <label class="form-label">Selecciona una encuesta:</label>
                            {% render_field form.encuesta class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">¿A que periodo pertenece este estudio?</label>
                            {% render_field form.periodo class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Dale una breve descripción:</label>
                            {% render_field form.observacion class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ingresa una fecha:</label>
                            {% render_field form.fecha class="form-control" %}
                        </div>
                    </div>
                    <div id="default-primary-step-2" class="">
                        {{ asignacion.management_form }}
                        <table id="datatables-basic" class="table table-striped" style="width:100%">
                        <caption>Listado de alumnos</caption>
                            <thead>
                            <tr>
                                <th scope="col">Alumno</th>
                                <th scope="col">Asignar Todos <input type="checkbox" id="checkAll"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alumno in asignacion %}
                                <tr>
                                    <td>{{ alumno.alumno_name }}</td>
                                    {#                                    {{ form.rendimiento_satisfactorio.id_for_label }}#}
                                    <td><input type="checkbox" id="{{ alumno.alumno_name.id_for_label }}"> {% render_field alumno.DELETE class="d-none" %}</td>
                                    {#                                    <td>{{ alumno.DELETE }}</td>#}
                                    <td>{% render_field alumno.tipo class="d-none" %} </td>
                                    {{ alumno.estudio }}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    {#                <div id="default-primary-step-3" class="">#}
                    {#                    Step Content 3#}
                    {#                </div>#}
                    {#                <div id="default-primary-step-4" class="">#}
                    {#                    Step Content 4#}
                    {#                </div>#}
                </div>
                <a href="{% url 'estudio' %} " class="btn btn-outline-danger"> Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </form>
        <script>
            window.onload = () => {
                let i = 1;
                $("select[name*='asignacion_set']").each(function () {
                    $(this).val(i);
                    i++;
                })
                $("input[type='checkbox'][id*='asignacion_set']").each(function () {
                    $(this).on('change', function () {
                        $('#checkAll').prop('checked' ,false);
                        if($(this).is(':checked')){
                            {#console.log($(this).next())#}
                            $(this).next().prop('checked', false);
                        }else{
                            {#console.log($(this).next())#}
                            $(this).next().prop('checked', true);
                        }
                    })
                })
                $('#checkAll').prop('checked', true);
                $("input[type='checkbox'][id*='alumno_name']").each(function () {
                    {#console.log($(this))#}
                    $(this).prop('checked', true);
                })
            }
            $(function () {
                $("#smartwizard-default-primary").smartWizard({
                    theme: "default",
                    showStepURLhash: false
                });
                $("#smartwizard-default-success").smartWizard({
                    theme: "default",
                    showStepURLhash: false
                });
                $("#smartwizard-default-danger").smartWizard({
                    theme: "default",
                    showStepURLhash: false
                });
                $("#smartwizard-default-warning").smartWizard({
                    theme: "default",
                    showStepURLhash: false
                });
                $("#smartwizard-arrows-primary").smartWizard({
                    theme: "arrows",
                    showStepURLhash: false
                });
                $("#smartwizard-arrows-success").smartWizard({
                    theme: "arrows",
                    showStepURLhash: false
                });
                $("#smartwizard-arrows-danger").smartWizard({
                    theme: "arrows",
                    showStepURLhash: false
                });
                $("#smartwizard-arrows-warning").smartWizard({
                    theme: "arrows",
                    showStepURLhash: false
                });
                $('#checkAll').on('change', function () {
                    if ($(this).is(':checked')) {
                        $("input[type='checkbox'][id*='alumno_name']").each(function () {
                            {#console.log($(this))#}
                            $(this).prop('checked', true);
                            $(this).next().prop('checked', false);
                        })
                        console.log("Checkbox " + $(this).prop("id") + " (" + $(this).val() + ") => Seleccionado");
                    } else {
                        $("input[type='checkbox'][id*='alumno_name']").each(function () {
                            $(this).prop('checked', false);
                            $(this).next().prop('checked', true);
                        })
                        console.log("Checkbox " + $(this).prop("id") + " (" + $(this).val() + ") => Deseleccionado");
                    }
                });
            });

        </script>
    </div>

{% endblock %}
