{% extends 'core/psicologo/home.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="col-12">
        <form id="smartwizard-validation" class="wizard wizard-primary">
            {#            {{ form.as_p }}#}

            <ul>
                <li><a href="#validation-step-1">First Step<br><small>Step description</small></a></li>
                <li><a href="#validation-step-2">Second Step<br><small>Step description</small></a></li>
                <li><a href="#validation-step-3">Third Step<br><small>Step description</small></a></li>
            </ul>

            <div>
                <div id="validation-step-1">
                    <div class="form-group">
                        <label class="form-label">Selecciona una encuesta:</label>
                        {% render_field form.encuesta class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label">¿A que periodo pertenece este estudio?</label>
                        {% render_field form.periodo class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Dale una breve descripción:</label>
                        {% render_field form.observacion class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Ingresa una fecha:</label>
                        {% render_field form.fecha class="form-control" %}
                    </div>
                    {{ asignacion.management_form }}
                    {% for i in asignacion %}
                        <div class="row">
                            {% render_field i.alumno_name class="form-control" %}
                        </div>
                    {% endfor %}
                    {% for i in alumnos %}
                        alumno: {{ i }}
                    {% endfor %}
                </div>
                <div id="validation-step-2">

                    <script>

                    </script>

                </div>
                <div id="validation-step-3">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">I agree with the Terms and Conditions</span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(function () {
            $("#smartwizard-default-primary").smartWizard({
                theme: "default",
                showStepURLhash: false
            });
            $("#smartwizard-default-success").smartWizard({
                theme: "default",
                showStepURLhash: false
            });
            $("#smartwizard-default-danger").smartWizard({
                theme: "default",
                showStepURLhash: false
            });
            $("#smartwizard-default-warning").smartWizard({
                theme: "default",
                showStepURLhash: false
            });
            $("#smartwizard-arrows-primary").smartWizard({
                theme: "arrows",
                showStepURLhash: false
            });
            $("#smartwizard-arrows-success").smartWizard({
                theme: "arrows",
                showStepURLhash: false
            });
            $("#smartwizard-arrows-danger").smartWizard({
                theme: "arrows",
                showStepURLhash: false
            });
            $("#smartwizard-arrows-warning").smartWizard({
                theme: "arrows",
                showStepURLhash: false
            });
            // Validation
            var $validationForm = $("#smartwizard-validation");
            $validationForm.validate({
                errorPlacement: function errorPlacement(error, element) {
                    $(element).parents(".form-group").append(
                        error.addClass("invalid-feedback small d-block")
                    )
                },
                highlight: function (element) {
                    $(element).addClass("is-invalid");
                },
                unhighlight: function (element) {
                    $(element).removeClass("is-invalid");
                },
                rules: {
                    "wizard-confirm": {
                        equalTo: "input[name=\"wizard-password\"]"
                    }
                }
            });
            $validationForm
                .smartWizard({
                    autoAdjustHeight: false,
                    backButtonSupport: false,
                    useURLhash: false,
                    showStepURLhash: false,
                    toolbarSettings: {
                        toolbarExtraButtons: [$("<button class=\"btn btn-submit btn-primary\" type=\"button\">Finish</button>")]
                    }
                })
                .on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                    if (stepDirection === "forward") {
                        return $validationForm.valid();
                    }
                    return true;
                });
            $validationForm.find(".btn-submit").on("click", function () {
                if (!$validationForm.valid()) {
                    return;
                }
                alert("Great! The form is valid and ready to submit.");
                return false;
            });
        });
    </script>
{% endblock %}