{% extends 'core/psicologo/home.html' %}

{% block content %}
    <div class="row">
        <div class="card-body text-center">
            <div class="mb-3">
                <a href="{% url 'estudio_create' %}" class="btn btn-primary" style="text-decoration: none;"><i
                        class="fas fa-plus"></i> Crear un nuevo Estudio </a>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Estudio</h5>
                    <h6 class="card-subtitle text-muted">Listado de Categorias</h6>
                </div>
                <div class="card-body">
                    {% if not estudio_list %}
                        <h6>Aún no existen estudios <a href="{% url 'estudio_create' %}">Crea uno dando clic aquí</a></h6>
                    {% else %}
                        <table id="datatables-basic" class="table table-striped" style="width:100%">
                            <caption>Listado de estudios</caption>
                            <thead>
                            <tr>
                                <th scope="col">Descripción del estudio</th>
                                <th scope="col">Periodo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for estudio in estudio_list %}
                                <tr>
                                    <td>{{ estudio.observacion }}</td>
                                    <td>{{ estudio.periodo }}</td>
                                    <td>{{ estudio.fecha }}</td>

                                    <td>
                                        {#                                        <a href="{% url 'formula_update' term.formula.id %}" class="btn btn-primary"#}
                                        {#                                           style="text-decoration: none;"><i class="fas fa-pencil-alt"></i> Editar#}
                                        {#                                        </a>#}
                                        <a href="{% url 'estudio_delete' estudio.id %}" class="btn btn-danger"
                                           style="text-decoration: none;"><i class="fas fa-trash"></i>  </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
{% endblock %}
