{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row">
        <div class="card-body text-center">
            <div class="mb-3">
                <a href="{% url 'formula_create' %}" class="btn btn-primary" style="text-decoration: none;"><i
                        class="fas fa-plus"></i> Crear una
                    Fórmula </a>
                <i class="fa fa-trash-o"></i>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Fórmulas</h5>
                    <h6 class="card-subtitle text-muted">Listado de Fórmulas</h6>
                </div>
                <div class="card-body">
                    {% if not terms_list %}
                        <h6>Aún no existen fórmulas <a href="{% url 'formula_create' %}">Crea una dando clic aquí</a></h6>
                    {% else %}
                        <table id="datatables-basic" class="table table-striped" style="width:100%">
                        <caption>Listado de fórmulas</caption>
                            <thead>
                            <tr>
                                <th scope="col">Carrera</th>
                                <th scope="col">Punto de corte</th>
                                <th scope="col">ICAV</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for term in terms_list %}
                                <tr>
                                    <td>{{ term.formula.carrera }}</td>
                                    <td>{{ term.formula.porcentaje }}</td>
                                    <td>
                                        {% for termino in term.termino %}
                                            {{ termino.signo }}{{ termino.valor }}{{ termino.variable.siglas }}
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a href="{% url 'formula_update' term.formula.id %}" class="btn btn-primary"
                                           style="text-decoration: none;"><em class="fas fa-pencil-alt"></em> Editar
                                        </a>
                                        <a href="{% url 'formula_delete' term.formula.id %}" class="btn btn-danger"
                                           style="text-decoration: none;"><em class="fas fa-trash"></em> Eliminar </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {#                            {% for term in terms_list %}#}
                            {#                                <h1>{{ term.signo }}</h1>#}
                            {#                                <h1>{{ term.valor }}</h1>#}
                            {#                                <h1>{{ term.formula.carrera }}</h1>#}
                            {#                                <h1>{{ term.formula }}</h1>#}
                            {#                                <h1>{{ term.termino }}</h1>#}
                            {#                                <h1>{{ term.rend.rendimiento_riesgoso }}</h1>#}
                            {#                            {% endfor %}#}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
{% endblock %}
