{% extends 'core/psicologo/home.html' %}
{% block content %}
    <h1>Parents</h1>
    <form id="form-container" method="post">{% csrf_token %}
        {{ form.as_p }}
        <h2>children</h2>
        {{ children.management_form }}
        {% for child in children %}
            {#            <div class="card inline-form">#}
            {#                {{ child.signo }}#}
            {#                {{ child.valor }}#}
            {#                {{ child.variable }}#}
            {#                {{ child.DELETE }}#}
            {#                {{ child.formula }}#}
            {#                {{ child.id }}#}
            {##}
            {#            </div>#}
            <div class="inline-form col-md-12 card">

                <div class="card-header">
                    <h5 class="card-title">Crea un Termino</h5>
                </div>
                <div class="card-body">
                    <label class="" for="{{ child.signo.id_for_label }}">Signo</label>
                    {{ child.signo }}

                    <label class="" for="{{ child.valor.id_for_label }}">Valor</label>
                    {{ child.valor }}
                    <label class="" for="{{ child.variable.id_for_label }}">Variable</label>
                    {{ child.variable }}


                    <div class="custom-control custom-checkbox mb-1 mr-sm-2">
                        {{ child.DELETE }}
                        <label class="custom-control-label" for="{{ child.DELETE.id_for_label }}">Delete</label>
                    </div>

                    {{ child.formula }}
                    {{ child.id }}
                </div>
            </div>

        {% endfor %}


        <button id="add-form" type="button">Add Another Bird</button>
        {#        <button type="submit">Create Birds</button>#}
        <input type="submit" value="Save">
    </form>
    <script>
        let birdForm = document.querySelectorAll(".inline-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_termino_set-TOTAL_FORMS")

        let formNum = birdForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()
            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`termino_set-(\\d){1}-`, 'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `termino_set-${formNum}-`)
            container.insertBefore(newForm, addButton)
            {#addButton.parentNode.insertBefore(newForm, addButton)#}

            totalForms.setAttribute('value', `${formNum + 1}`)
        }
    </script>
{% endblock %}