{% extends 'core/psicologo/home.html' %}
{% load widget_tweaks %}
{% block content %}
    <form id="form-container" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Datos generales de la Formula</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">¿A que carrera pertenece esta formula?</label>
                            {% render_field form.carrera class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Punto de corte</label>
                            {% render_field form.porcentaje class="form-control" %}
                        </div>
                        <label class="form-label">Criterios de reescalado</label>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.maximo.id_for_label }}">Máximo</label>
                                {% render_field form.maximo class="form-control" %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.minimo.id_for_label }}">Mínimo</label>
                                {% render_field form.minimo class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Asignale un nombre a esta formula</label>
                            {% render_field form.nombre class="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
            {{ rendimiento.management_form }}
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Rendimientos para la formula</h5>
                    </div>
                    <div class="card-body">
                        {% for form in rendimiento %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.rendimiento_satisfactorio.id_for_label }}">Satisfactorio</label>
                                    {% render_field form.rendimiento_satisfactorio class="form-control" %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="{{ form.rendimiento_riesgoso.id_for_label }}">Riesgoso</label>
                                    {% render_field form.rendimiento_riesgoso class="form-control" %}
                                </div>
                            </div>
                            <label class="custom-control custom-checkbox">
                                {% render_field form.afinidad class="custom-control-input" %}
                                <span class="custom-control-label">¿Es a fin?</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {{ termino.management_form }}
        {% for form in termino %}
            <div class="col-md-12 inline-form px-0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Término</h5>
                        <h6 class="card-subtitle text-muted">Configra un término para la formula</h6>
                    </div>
                    <div class="card-body form-inline">
                        <label class="mr-2" for="{{ form.signo.id_for_label }}">Signo</label>
                        {% render_field form.signo class="form-control mb-2 mr-sm-2" %}
                        <label class="mr-2" for="{{ form.valor.id_for_label }}">Valor</label>
                        {% render_field form.valor class="form-control mb-2 mr-sm-2" %}
                        <label class="mr-2" for="{{ form.variable.id_for_label }}">Selecciona un campo
                            profesional</label>
                        {% render_field form.variable class="form-control mb-2 mr-sm-2" %}
                        <label class="custom-control custom-checkbox">
                            {% render_field form.DELETE class="custom-control-input" %}
                            <span class="custom-control-label">Eliminar este termino</span>
                        </label>

                        {{ form.formula }}
                        {{ form.id }}

                    </div>
                </div>
            </div>
        {% endfor %}

        <button id="add-form" type="button" class="btn btn-outline-primary">Agregar otro término</button>
        <a href="{% url 'formula' %} " class="btn btn-outline-danger"> Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary">
    </form>
    <script>
        let birdForm = document.querySelectorAll(".inline-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_termino_set-TOTAL_FORMS")

        let formNum = birdForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`termino_set-(\\d){1}-`, 'g')
            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `termino_set-${formNum}-`)
            container.insertBefore(newForm, addButton)
            document.getElementById(`id_termino_set-${formNum}-id`).removeAttribute("value");
            document.getElementById(`id_termino_set-${formNum}-signo`).removeAttribute("value");
            document.getElementById(`id_termino_set-${formNum}-valor`).removeAttribute("value");
            totalForms.setAttribute('value', `${formNum + 1}`)
        }
    </script>
{% endblock %}
