{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> Crea una Opción nueva</h5>
                    <h6 class="card-subtitle text-muted">Crea los parametros de la opción</h6>
                </div>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button onclick="history.back()" class="btn btn-outline-danger"> Cancelar</button>
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
