{% extends 'core/psicologo/home.html' %}
{% load widget_tweaks %}
{% block content %}
    <form method="post">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle text-muted">Edición de Pregunta</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label d-none">Encuesta:</label>
                            {% render_field form.encuesta class="form-control d-none" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Enunciado de la pregunta:</label>
                            {% render_field form.enunciado class="form-control" rows="3" %}
{#                            {% render_field form.observacion class="form-control" rows="3" %}#}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Selecciona un Campo Profesional:</label>
                            {% render_field form.categoria class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Selecciona un tipo de pregunta:</label>
                            {% render_field form.tpregunta class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Número:</label>
                            {% render_field form.numero class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="form-label d-none">Estado:</label>
                            {% render_field form.estado class="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'encuesta_detalle' object.encuesta.id %}" class="btn btn-outline-danger">
            Cancelar</a>
        <input type="submit" value="Editar" class="btn btn-primary">
        {% if 'ok' in request.GET %}
            <script>
                window.onload = () => {
                    let message = 'Pregunta exitosamente actualizada!';
                    let title = "Operación Exitosa";
                    let type = 'success';
                    toastr[type](message, title, {
                        positionClass: 'toast-top-center',
                        progressBar: true,
                        timeOut: '3500'
                    });
                    setTimeout(function () {
                        localStorage.setItem('update', 'true')
                        history.go(-2);
                    }, 3000);
                }
            </script>
        {% endif %}
    </form>
{% endblock %}