{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row" id="questionApp">
        <div class="card-body text-center">
            <div class="mb-3">
                <a href="{% url 'opcion_create' pregunta.id %}" class="btn btn-primary" style="text-decoration: none;">
                    Crear una
                    Opción</a>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <h3 class="text-center py-4">Pregunta: {{ pregunta.enunciado }}</h3>
                <div class="card-header">
                    <h5 class="card-title">Listado de opciones </h5>
                    <h6 class="card-subtitle text-muted"></h6>
                </div>
                <div class="card-body">
                    {% if not opciones %}
                        <h6>Aún no existen opciones <a href="{% url 'opcion_create' pregunta.id %}">Crea una dando clic
                            aquí</a></h6>
                    {% else %}
                        <table id="datatables-basic" class="table table-striped" style="width:100%">
                            <caption>Listado de opciones</caption>
                            <thead>
                            <tr>
                                <th scope="col">Opción</th>
                                <th scope="col">Ponderado</th>
                                <th scope="col">Número</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for opcion in opciones %}
                                <tr>
                                    <td>{{ opcion.etiqueta }}</td>
                                    <td>{{ opcion.ponderado }}</td>
                                    <td>{{ opcion.numero }}</td>
                                    <td>
                                        <a href="{% url 'opcion_update' opcion.id %}" class="btn btn-primary"
                                           style="text-decoration: none;"><em class="fas fa-pencil-alt"></em>
                                        </a>
                                        <a href="{% url 'opcion_delete' opcion.id %}" class="btn btn-danger"
                                           style="text-decoration: none;"><em class="fas fa-trash"></em></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                    <script>
                        window.onload = () => {
                            let update = localStorage.getItem('update');
                            if (update == 'true') {
                                localStorage.setItem('update', 'false')
                                history.go(0)
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
