{% extends 'core/psicologo/home.html' %}
{% block content %}
    <div class="row" id="quizApp">
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Crea una encuesta!</h5>
                    <h6 class="card-subtitle text-muted">Datos generales de la encuesta.</h6>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="addQuiz()">
                        <div class="form-group">
                            <label class="form-label">Nombre de la encuesta</label>
                            <input type="text" class="form-control" v-model="name"
                                   placeholder="Ej. Omnibus version 2021 1">
                        </div>
                        <div class="col-12 col-xl-4 px-0">
                            <div class="form-group">
                                <label class="form-label">Fecha de aplicación de la encuesta</label>
                                <input class="form-control" type="text" v-model="vig_date"
                                       placeholder="Formato: AAAA-MM-DD">
                                {#                                <input class="form-control" type="text" v-model="vig_date" name="datesingle">#}
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="state">
                                    <span class="custom-control-label">Vigente</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="toastr-show">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Encuestas</h5>
                    <h6 class="card-subtitle text-muted">Todas las encuestas</h6>
                </div>
                <div class="card-body">
                    <table id="datatables-basic" class="table table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("input[name=\"datesingle\"]").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });
        });
    </script>

    {% block scripts %}
        <script>
            var mess = '';
            var tit = '';
            var typ = '';
            var quizApp = new Vue({
                el: '#quizApp',
                data() {
                    return {
                        name: '',
                        state: '',
                        vig_date: '',
                        type: '',
                        start_date: '',
                    }
                },
                methods: {
                    addQuiz() {
                        var currentdate = new Date()
                        var data = {
                            'name': this.name,
                            'state': this.state === '' ? 0 : 1,
                            'vig_date': this.vig_date,
                            'type': this.type + 'hola',
                            'start_date': currentdate.getFullYear() + '-' + currentdate.getMonth() + '-' + currentdate.getDate(),
                        }
                        console.log(data);
                        fetch('/psicologo/api/addQuiz', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(data)
                        })
                            .then((response) => {
                                console.log('Success')
                                console.log(response)
                                if (response.ok) {
                                    mess = 'Registro Creado!'
                                    typ = 'success'
                                    tit = 'Excelente!'
                                    this.showToast(mess, typ, tit);
                                    this.name = ''
                                    this.vig_date = ''
                                } else {
                                    mess = 'No se ha podido guardar el registro...'
                                    typ = 'error'
                                    tit = 'Oh no!'
                                    this.showToast(mess, typ, tit);
                                }
                            })
                            .catch((error) => {
                                mess = error
                                typ = 'error'
                                tit = 'Error Fatal!'
                                this.showToast(mess, typ, tit);
                            })
                    },
                    showToast(mess, typ, tit) {
                        toastr[typ](mess, tit, {
                            positionClass: 'toast-top-right',
                            timeOut: '2500'
                        });
                    }
                }
            })
        </script>
    {% endblock %}
{% endblock %}