{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% if messages %} {% for message in messages %}
<div class="alert alert-warning">
    {{message}}
</div>
{%endfor%} {% endif %}
    <link rel="stylesheet" href="{% static 'css/classic.css' %}">
    <main class="main d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="{% static 'core/img/sale.png' %}" alt="Salesiana">
									</div>
									<form method="POST">
                                              {% csrf_token %}
										<div class="form-group">
											<label>Correo</label>
											<input class="form-control form-control-lg" type="email" name="email" placeholder="Ingresa tu email">
										</div>
										<div class="form-group">
											<label>Contraseña</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Ingresa tu password">
										</div>
										<div>
											<div class="custom-control custom-checkbox align-items-center">
												<input type="checkbox" class="custom-control-input" value="remember-me" name="remember-me" checked="">
												<label class="custom-control-label text-small">Recordarme proxima vez</label>
											</div>
										</div>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
			</div>
		</div>
	</main>
{% endblock %}</title>